<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Parking karte</title>
	<base th:href="@{/}">
	<script src="js/zadatak6.js" type="text/javascript"></script>
</head>
<body>
	<form onsubmit="return validacija()">
		<table>
			<tr><td>Registarska oznaka vozila</td>
			<td><input type="text" id="registracija" /></td></tr>
			
			<tr><td>Početak parkinga</td>
			<td><input type="text" id="pocetakParkinga"/></td></tr>
			
			<tr><td>Trajanje u minutima</td>
			<td><input type="text" id="trajanjeUMinutima"/></td></tr>
			
			<tr>
				<td>Osoba sa invaliditetom</td>
				<td>
					<input type="radio" id="DA" name="osobaSaInvaliditetom" default=""/> DA
					<input type="radio" id="NE"name="osobaSaInvaliditetom" default=""/> NE
				</td>
			</tr>
			
			<tr>
				<td>Zona</td>
				<td>
					<select id="zona">
						<option>bela</option>
						<option>plava</option>
						<option>crvena</option>
					</select>
				</td>
			</tr>
			<tr><td></td><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
</body>
</html>